# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Virtual env ===
.venv/
venv/

# === Env ===
.env

# === Database ===
*.db

# === Cache ===
cache/

# === OS ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/
